<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans               
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd               
	http://www.springframework.org/schema/context               
	http://www.springframework.org/schema/context/spring-context-3.0.xsd">


	<context:component-scan
		base-package="com.jcg.spring.mvc.email" />

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">

		<property name="maxUploadSize" value="20971520" />

		<property name="maxInMemorySize" value="1048576" />
	</bean>

	<!-- Spring Email Sender Bean Configuration -->
	<bean id="mailSender"
		class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtp.gmail.com" />
		<property name="port" value="465" />
		<property name="username" value="askgentleness@gmail.com" />
		<property name="password" value="7358009676" />
		<property name="javaMailProperties">
			<props>
				<prop key="mail.transport.protocol">smtp</prop>
				<prop key="mail.smtp.socketFactory.class">javax.net.ssl.SSLSocketFactory</prop>
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.debug">false</prop>
				<prop key="mail.smtp.starttls.enable">true</prop>
				<prop key="mail.smtp.ssl.enable">true</prop>
				<prop key="mail.smtp.socketFactory.fallback">false</prop>
				<prop key="mail.imap.socketFactory.fallback">false</prop>
				<prop key="mail.pop3.socketFactory.fallback">false</prop>
				<prop key="mail.nntp.socketFactory.fallback">false</prop>
			</props>
		</property>
	</bean>

	<bean
		class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="exceptionMappings">
			<props>
				<prop key="java.lang.Exception">error</prop>
			</props>
		</property>
	</bean>
</beans>